.register--container {
  min-height: calc(100vh - 55px);
  background-color: var(--background-color-dark);
  height: 100%;
}

@media only screen and (max-width: 750px) {
  .register--container {
    min-height: 100vh;
  }
}
