.search--modal {
  width: 50%;
  display: flex;
  color: white;
  align-items: center;
  gap: 10px;
}

.search--modal-input {
  padding: 10px 15px;
  color: white;
  text-indent: 2px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid white;
  font-size: 30px;
  line-height: 40px;
}

.search--modal-input::placeholder {
  color: white;
}

.search--modal-input:focus {
  outline: none;
}

.search--modal-icon {
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.search-btn {
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 540px) {
  .search--modal {
    width: 250px;
    justify-content: center;
  }

  .search--modal-input {
    width: 100%;
  }
}
