* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer--full {
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: var(--background-color-dark);
}

.footer {
  padding-top: 10px;
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer--wrap {
  max-width: 80%;
  margin: auto;
}

.footer--data {
  letter-spacing: 0.6px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer--data-item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #6087a8;
}

.footer--data-icons {
  display: flex;
  justify-content: space-between;
}

.footer--line {
  width: 100%;
  justify-content: center;
}

.footer--copyright {
  padding: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;

  color: #6087a8;
}

h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #a6c3dc;
}
