* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer--full {
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: var(--background-color-dark);
}

.footer {
  width: 100%;
  min-height: calc(220px - 2rem);
}

.footer--wrap {
  max-width: 80%;
  margin: auto;
}

.footer--data {
  letter-spacing: 0.6px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.footer--data-item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #6087a8;
}

.footer--data-icons {
  display: flex;
  gap: 1rem;
}

.footer--line {
  width: 100%;
  justify-content: center;
}

.footer--copyright {
  padding: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;

  color: #6087a8;
}

h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #a6c3dc;
}

@media screen and (max-width: 840px) {
  .footer--data {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    max-width: 80%;
    margin: auto;
    text-align: center;
  }

  .footer--data > div {
    width: 100%;
  }

  .footer--data-icons {
    justify-content: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 560px) {
  .footer--data {
    grid-template-columns: repeat(1, 1fr);
  }
}
