.homepage--carousel-categories {
  width: 80%;
  height: auto;
  margin: 3rem auto 0 auto;
  padding: 5rem 0 7rem 0;
}

.slider--title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  padding-bottom: 2rem;
  padding-left: 2.2rem;
  letter-spacing: 2px;
}

.slider--img {
  width: clamp(200px, 100%, 300px);
  aspect-ratio: 1;
  padding: 1rem;
  border-radius: 30px;
  margin: auto;
  transition: 1s ease;
  cursor: pointer;
}

.slider--content,
.card--item {
  position: relative;
}

.slider--content:hover img,
.card--item:hover img {
  opacity: 0.3;
}

.slider--content:hover .slider--middle,
.card--item .slider--middle {
  opacity: 1;
}

.slider--middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.slider--middle::after {
  content: '';
  position: absolute;
  bottom: 50%;
  right: -30px;
  width: 50px;
  height: 2px;
  background-color: #ffffff;
}

.slider--middle::before {
  content: '';
  position: absolute;
  bottom: 50%;
  left: -30px;
  width: 50px;
  height: 2px;
  background-color: #ffffff;
}

.slider--middle-txt {
  color: white;
  font-size: 18px;
  padding: 8px 32px 8px 32px;
}
.slider--content,
.card--item {
  position: relative;
}

@media screen and (max-width: 900px) {
  .slider--content img,
  .card--item img {
    opacity: 0.45;
  }

  .slider--content .slider--middle,
  .card--item .slider--middle {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .slider--middle::after,
  .slider--middle::before {
    all: unset;
  }
}
